<p>Connection Status: {{ isConnected ? 'Connected' : 'Disconnected' }}</p>
<button (click)="connect()" [disabled]="isConnected">Connect</button>
<button (click)="disconnect()" [disabled]="!isConnected">Disconnect</button>

<app-control-tray 
  [videoRef]="myVideo" 
  [supportsVideo]="true" 
  (onVideoStreamChange)="handleVideoStreamChange($event)">
</app-control-tray>
<video #myVideo width="640" height="480" autoplay muted></video>

<p>Conversation</p>
<div class="chat-container">
  <div class="message-list">
    @for (message of messages; track $index) {
      <div class="message" [ngClass]="message.role">
        @if (message.role=="user") {
          <div class="text">User: {{ message.text }}</div>
        }
        @if (message.role=="model") {
        <div class="text">Gemini: {{ message.text }}</div>
        }  
      </div>
    }
  </div>
  <form [formGroup]="chatForm" (ngSubmit)="send()">
    <div class="input-area">
      <input #input [disabled]="!isConnected" placeholder="Type your message here" formControlName="message">
      <button type="button" (click)="reset()" [disabled]="input.value.length==0">X</button>
      <button type="submit" [disabled]="!isConnected || input.value.length==0">Send</button>
    </div>
  </form>
</div>

<style>
  .chat-container {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .message-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 10px;
  }

  .message {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  .input-area {
    display: flex;
    position: sticky;
    background-color: white;
    padding-top: 10px;
  }

  .input-area input {
    flex-grow: 1;
    padding: 5px;
  }

  .input-area button {
    padding: 5px 10px;
  }

  .message.user {
    background-color: #eeeeee;
  }
  .message.model {
    background-color: #cfd8dc;
  }
</style>